@font-face {
	font-family: Orienta;
	src: url(/fonts/Orienta-Regular.ttf);
}

@font-face {
	font-family: FiraCode;
	src: url(/fonts/FiraCode-Medium.woff2);
}

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.wrap{
	flex-wrap: wrap;
}
body,
html {
	min-height: 100%;
	height: 100%;
	color: #f0f0f0;
	width: 100%;
	display: flex;
	font-family: Orienta;
	flex-direction: column;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: inherit;	
}

input:disabled {
	cursor: not-allowed !important;
	filter: saturate(0.6) !important;
}

#svelte {
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-items: center;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

::-webkit-scrollbar {
	width: 0.3rem;
	height: 0.4rem;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: var(--accent);
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}