{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": { "node": 12 }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": { "node": 12 }
          }
        ]
      ]
    },
    "renderer": {
      "presets": ["@babel/preset-react"],
      "plugins": ["react-hot-loader/babel"]
    },
    "web": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  },
  "plugins": ["@babel/transform-runtime", "@babel/plugin-syntax-dynamic-import"]
}
