.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    color: white;
    text-align: center;
    display: flex;
    transition: all 0.2s;
    font-size: 1rem;
    justify-content: center;
    border: none;
    width: fit-content;
    cursor: pointer;
}
.btn:hover {
    filter: brightness(1.2);
}