.box-shadow {
  box-shadow: 0pt 3pt 12pt -2pt grey;
}
.input{
  margin: 0.3rem 0;
  width: 100%;
  max-width: 100%;
}
input[type=number]{
  width: calc(100% - 16px);
  background-color: red;
}
.sideMenu{
  display: flex;
  width: 75px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  flex: 1;
  border-radius: 0.5rem;
  color:black
}
.contentWrapper{
  width: calc(100vw - 75px);
  display: flex;
  flex-direction: row;
  padding: 1rem;
  box-sizing: border-box;
}
.appWrapper{
  display: flex;
  flex-direction: row;
}
.body{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.previewImage{
  height: 75px;
}
.fileName{
  position: absolute;
  bottom: -0.6rem;
  left: -0.2rem;
  font-size: 0.7rem;
  width: 200px;
  text-overflow: ellipsis;
  overflow:hidden; 
  white-space:nowrap
}
.dataCol{
  flex-direction: column;
  display: flex;
  height: 75px;
  justify-content: space-around;
  margin-left: 0.5rem;
}
.filePicker{
  font-size: 1.8rem;
  color:   #363636;
  width: 50vw;
  cursor: pointer;
  border-radius: 1rem;
  border:   #363636 dashed 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s;
}
.filePicker *{
  pointer-events: none;
}
.formats{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
}
.formatsHovered{
  transform: scale(1.05);
  filter: brightness(1.1);
}
.bottomMainPage{
  margin-top: 0.8rem;
  display: flex;
  width: 100%;
  height: 60vh;
}
.filesHolder{
  display: flex;
  border-radius: 0.8rem;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  padding: 0.8rem 0;
  margin-left: 0.8rem;
}
.overflowFileHolder{
  display: flex;
  flex: 1;
  overflow-y: scroll;
  flex-direction: column;
  margin-right: 0.3rem;
}
.upperMainPage{
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 0.8rem;
  justify-content: center;
}

.sideSettings{
  width: 13vw;
  border-radius: 0.5rem;
  padding: 0.8rem;
  box-sizing: border-box;
  display: flex;
  color:  rgb(42, 41, 51);
}
.innerSideSettings{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.MuiSvgIcon-root{
  cursor: pointer;
}
.redHover:hover{
  fill: #f54242;
}
.highlightHover:hover{
  fill:  rgb(107 107 107)
}
.fileRow{
  display: flex;
  height: 110px;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.8rem;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  padding: 1rem;
  padding-bottom: 1.5rem;
  margin-right: 0.3rem;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}
.l0{
  background-color:	#bdbdbe;
}
.l1{
  background-color: white;
}
.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-track {
  background: #dddddd;
  overflow: hidden;
}
.scroll::-webkit-scrollbar-thumb {
  background: rgb(99, 99, 99);
  border-radius: 2px;
  overflow: hidden;
}
.scroll::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}
.floatingImages{
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagesContainer{
  border-radius: 1rem;
  width: 70vw;
  height: 90vh;
  background-color:#363636;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.imagesContainer img{
  width: calc(35vw - 1.5rem);
  border:0;
  border-radius: 0.8rem;
  background-color: #555555;
}
.textAndImage{
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
}
.floatingImgText{
  position: absolute;
  top: 0.5rem;
  background-color:rgba(22, 22, 22, 0.9);
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  align-self: center;
}
.closeBtn{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgb(27, 25, 35);
  border-radius: 0.8rem;
  color: white;
  padding: 0.5rem;
}