/*TODO: add button click animations etc*/


/*--------------------Page setup--------------------*/
* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

body,
html {
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*--------------------Flex utilities--------------------*/
.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.centerX {
    justify-content: center;
}

.centerY {
    align-items: center;
}

.to-left {
    justify-content: flex-start;
}

.to-right {
    justify-content: flex-end;
}

.to-top{
    align-items: flex-start;
}

.to-bottom {
    align-content: flex-end;
}

.align-all-center * {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}



/*--------------------Buttons and elements--------------------*/
.button {
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    cursor: pointer;
    border-radius: 0.7rem;
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.input {
    margin: 0.5rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.fillX {
    display: flex;
    flex: 1;
}

.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: 20rem !important;
}


/*--------------------Layers--------------------*/
.dm-L1 {
    background: rgb(27, 25, 35) !important;
}

.dm-L2 {
    background: rgb(42, 41, 51) !important;
}

.dm-L3 {
    background: #363636 !important;
}

.dm-L4 {
    background: #464646 !important;
}

.wm-L1 {
    background: white !important;
}

.wm-L2 {
    background: rgb(238, 238, 238) !important;
}

.wm-L3 {
    background: #c0c0c0 !important;
}

.wm-L4 {
    background: #939393 !important;
}





/*--------------------Text--------------------*/
.text-center{
    text-align: center;
}
.small-text {
    font-size: 0.7rem;
    line-height: 1.2rem;
}

.normal-text {
    font-size: 1rem;
    line-height: 1.5rem;
}

.medium-text {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.big-text {
    font-size: 1.8rem;
    line-height: 2rem;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    width: 100%;
}




/*--------------------Margin and padding--------------------*/

.margin-1 {
    margin: 1rem !important;
}

.margin-2 {
    margin: 2rem !important;
}

.margin-05 {
    margin: 0.5rem !important;
}

.margin-bottom-1 {
    margin-bottom: 1rem !important;
}

.margin-bottom-2 {
    margin-bottom: 2rem !important;
}

.margin-bottom-4 {
    margin-bottom: 5rem !important;
}

.margin-bottom-6 {
    margin-bottom: 6rem !important;
}

.margin-top-1 {
    margin-top: 1rem !important;
}

.margin-top-2 {
    margin-top: 2rem !important;
}

.margin-top-4 {
    margin-top: 5rem !important;
}

.margin-top-6 {
    margin-top: 6rem !important;
}
.padding-1 {
    padding: 1rem !important;
}

.padding-05 {
    padding: 0.5rem !important;
}

.margin-0{
    margin: 0 !important;
}



/*--------------------Wrappers--------------------*/
.div-60 {
    width: 60%;
    line-height: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.8rem;
    margin: 1rem;
}

.container {
    line-height: 1.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.8rem;
    margin: 0.5rem;
}

.container-border{
    border: 2px solid #d8d8d8;

}



/*--------------------colors--------------------*/
.red {
    background-color: #f54242 !important;
    color: white;
}

.yellow{
    background-color: #f1bb4e !important;
    color: rgb(20, 20, 20);
}

.green {
    background-color: #32cd32 !important;
    color: white;
}
.redPurple{
    background-color: #b00752 !important;
    color: white;
}
.purple{
    background-color: #9a4ef1 !important;
    color: white;
}
.darkBlue {
    background-color: #2d304e !important;
    color: white;
}

.cyan {
    background-color: #4e9af1 !important;
    color: white;
}

.darkTeal {
    background-color: #187b69 !important;
    color: white;
}

.gray {
    background-color: #d8d8d8 !important;
    color: rgb(20, 20, 20);
}

.text-white {
    color: white !important;
}

.text-red {
    color: #f54242 !important;
}

.text-green {
    color: #32cd32 !important;
}

.text-darkTeal {
    color: #187b69 !important;
}

.text-dark {
    color: rgb(20, 20, 20) !important;
}

.text-gray {
    color: #a8a8a8 !important;
}



/*--------------------sizing--------------------*/
.min-y-2 {
    min-height: 2rem;
}

.min-y-4 {
    min-height: 4rem;
}

.min-y-6 {
    min-height: 6rem;
}



/*--------------------other--------------------*/
.box-shadow {
    box-shadow: 0pt 3pt 15pt -2pt grey;
}

.invert {
    filter: invert(1);
}

.bold {
    font-weight: bold;
}

.footer-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 3rem;
    align-items: flex-end;
}

.footer {
    min-height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar {
    min-height: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.no-highlight {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.no-outline {
    outline: none;
}

.floating-message {
    z-index: 100;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    width: 30vw;
    min-height: 4rem;
    border-radius: 0.6rem;
    position: fixed;
    bottom: 4vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.transition{
    transition: 0.3s;
}

.line-break{
    margin: 1rem;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    background-color: #d8d8d8;
    height: 0.15rem;
    display: flex;
    justify-content: center;

}
.line-break-text{
    background-color: #d8d8d8;
    color: rgb(93 93 93);
    padding: 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 0;
    margin-top: -0.7rem;
    border-radius: 0.5rem;
}
.container-title{
    background-color: #d8d8d8;
    position: absolute;
    color: rgb(93 93 93);
    padding: 0.7rem 0.4rem;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 0;
    margin-top: -1.3rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.center-self{
    margin-left:auto !important;
    margin-right: auto !important;
    display: block;
}
.scroll-bar::-webkit-scrollbar {
    width: 8px;
  }
.scroll-bar::-webkit-scrollbar-track {
    background:rgb(99, 99, 99);
    overflow: hidden;
  }
.scroll-bar::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 2px;
    overflow: hidden;
  }
.scroll-bar::-webkit-scrollbar-thumb:hover {
    opacity: 0.6;
  }
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*--------------------Media queries--------------------*/
@media only screen and (orientation:portrait) {
    .div-60 {
        width: 95%;
        border-radius: 0.5rem;
    }

    #floatingMessage {
        bottom: 8vw;
        width: 70vw;
    }
}